<!DOCTYPE html>
<html lang="en">
  {% include 'head.html.twig' %}
  <body>
  {% include 'navbar.html.twig' %}
  {% include 'header.html.twig' %}
<div class="container">
  <h1> Error en parametros o pagina </h1>
  
 <div class="container">

<img src="./image/error-500.png" class="img-fluid" alt="Responsive image">
  </div>


</div>
  {% include 'footer.html.twig' %}
  </body>