



<!DOCTYPE html>
<html lang="en">
  {% include 'head.html.twig' %}
  <body>
  {% include 'navbar.html.twig' %}
  {% include 'header.html.twig' %}
  
<div class="container">
  <h1>Administracion de tesinas </h1>
  <p> En el presente ciclo lectivo trabajaremos en el desarrollo de un prototipo para la Facultad de
      Inform치tica. La propuesta de trabajo surge de una necesidad de actualizar el sistema actual
      para la presentaci칩n y seguimiento de tesinas de grado. A lo largo de la cursada se
      desarrollar치 un prototipo funcional, que es un modelo a escala de la realidad (sin la
      funcionalidad total), el cual se ir치 enriqueciendo hasta llegar al producto final deseado.</p>           
</div>
  {% include 'footer.html.twig' %}
  </body>
</html>
