<!DOCTYPE html>
<html lang="en">
  {% include 'head.html.twig' %}
  <body>
  {% include 'navbar.html.twig' %}
  {% include 'header.html.twig' %}



<div class="container">

      <div class="starter-template">
        <h1>{{titulo}}</h1>
        <p class="lead">{{descripcion}}<br> Email de contacto : {{email}}</p>
      </div>

    </div>



  {% include 'footer.html.twig' %}
  </body>
</html>


