<!DOCTYPE html>
<html>
    <head>
        <title>Reasdasdcursos</title>
    </head>
    <body>
        <h1>Recsdfsdfursos</h1>
        <ul>
        {% for item in resources %}
            <li><a href="{{ item.url }}">{{ item.name }}</a></li>
        {% endfor %}
        </ul>
        
    </body>
</html>




