<!DOCTYPE html>
<html lang="en">
  {% include 'head.html.twig' %}
  <body>
  {% include 'navbar.html.twig' %}
<style type="text/css">  
@import "compass/css3";
body{
  padding: 50px;
}
</style>
   {% if mensaje == "error" %}
   <div class="alert alert-danger" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <strong>Lo sentimos !</strong> El usuario o contraseña no son validos . 
  </div>
  {% else %}
{% if mensaje == "alta" %}
  <div class="alert alert-info" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <strong>Bienvenido !</strong> Espere que el personal de administracion lo hablite en el sistema . saludos 
  </div> 
{% endif %}  


{% if mensaje == "login" %}
  <div class="alert alert-info" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <strong>Bienvenido !</strong> Para inicar sesion por favor ingrese sus datos de login . 
  </div> 
{% endif %}  



  {% endif %}


  <div class="container">
    <h2>Iniciar Sesión </h2>
    <form action="./index.php?action=usuario_validar" method="POST">
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
      </div>
      <div class="form-group">
        <label for="pwd">Password:</label>
        <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pwd">
      </div>
      <div class="checkbox">
        <label><input type="checkbox" name="remember"> Recordar ? </label>
      </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
  {% include 'footer.html.twig' %}
  </body>
  <script type="text/javascript">
    window.setTimeout(function() {
    $(".alert").fadeTo(500, 0).slideUp(500, function(){
        $(this).remove(); 
    });
}, 4000);
  </script>
</html>
