<!DOCTYPE html>
<html lang="en">
  {% include 'head.html.twig' %}

  <body>
 {% include 'navbar.html.twig' %}
  <div class="container">
<img src="./image/mantenimiento.png" class="img-fluid" alt="Responsive image">
  </div>
  {% include 'footer.html.twig' %}
  </body>
</html>








