<!DOCTYPE html>
<html lang="en">
  {% include 'head.html.twig' %}
  <body>
  {% include 'navbar.html.twig' %}
  <div class="container">
    <h2>Configuracion de sistema </h2>
    <form action="/action_page.php">
      <div class="form-group">
        <label for="email">Email del Sitio</label>
        <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
      </div>
    
    <div class="form-group">
    <label for="inputsm">Titulo de la pagina</label>
    <input class="form-control input-sm" id="inputsm" type="text">
  </div>
      <div class="form-group">
  <label for="sel1">Cantidad de elementos por pagina :</label>
  <select class="form-control" id="sel1">
    <option>1</option>
    <option>2</option>
    <option>3</option>
    <option>4</option>
  </select>
</div>
<div class="checkbox">
  <label><input type="checkbox" value="">Bloquear Pagina</label>
</div>

      
      <button type="submit" class="btn btn-default">Actualizar cambios</button>
    </form>
  </div>
  {% include 'footer.html.twig' %}
  </body>
</html>
