<!DOCTYPE html>
<html lang="en">
  {% include 'head.html.twig' %}
  <body>
  {% include 'navbar.html.twig' %}
  {% include 'header.html.twig' %}
<div class="container">
  <h1>No tiene permisos para realizar esta accion </h1>
  

 <div class="container">

<img src="./image/denegado.jpg" class="img-fluid" alt="Responsive image">
  </div>


</div>
  {% include 'footer.html.twig' %}
  </body>
</html>
