<!DOCTYPE html>
<html lang="en">
  {% include 'head.html.twig' %}

</style>

  <body>
  {% include 'navbar.html.twig' %}
  <div class="container">
    <h2> Formulario de Tesina </h2>
    <form action="./index.php?action=tesina_add" method="POST">
<div class="form-group">
  <label for="inputsm">Titulo:</label>
  <input class="form-control input-sm" id="titulo" name="titulo" type="text" required="true">
</div>

<div class="form-group">
  <label for="comment"> Objetivos:</label>
  <textarea class="form-control" rows="5" id="objetivos" name="objetivos"></textarea>
</div>

<div class="form-group">
  <label for="comment"> Motivacion:</label>
  <textarea class="form-control" rows="5" id="motivacion" name="motivacion"></textarea>
</div>

<div class="form-group">
  <label for="comment"> Desarrollo propuesto:</label>
  <textarea class="form-control" rows="5" id="propuesta" name="propuesta"></textarea>
</div>

<div class="form-group">
  <label for="comment"> Resultados esperados:</label>
  <textarea class="form-control" rows="5" id="resultados" name="resultados"></textarea>
</div>
<div class="form-group">
  <label for="sel1">Clasificacion:</label>
  <select class="form-control" id="clasificacion" name="clasificacion">
    <option>select de Investigación teórica</option>
    <option>Investigación aplicada</option>
    <option>Desarrollo Tecnológico</option>
    <option>Temática de RS</option>
    <option>Transferencia tecnológica</option>
  </select>
</div>   
 <div class="form-group">
    <label for="exampleSelect1">Plazo en Meses:</label>
    <select class="form-control" id="meses" name="meses">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
      <option>6</option>
      <option>7</option>
      <option>8</option>
      <option>9</option>
      <option>10</option>
      <option>11</option>
      <option>12</option>

    </select>
  </div>
<div>
<label for="inputsm">Director:</label>
<input class="form-control input-sm" id="director" name="director" type="text" required="true">
</div>
<div>
<label for="inputsm">Codirector:</label>
<input class="form-control input-sm" id="codirector" name="codirector" type="text" required="true">
</div>
<div>
<label for="inputsm">Asesor profesional:</label>
<input class="form-control input-sm" id="aprofesional" name="aprofesional" type="text" required="true">
</div>
 <div class="form-group">
    <label for="sel1">Lista de Alumnos :</label>
    <select class="js-example-basic-multiple" name="alumnos[]" multiple="multiple" >
     {% for alumno in alumnos %}
    <option value=" {{alumno.id}}"> {{alumno.email}} </option>
    {% endfor %}
    </select>
    </div>
   <!-- 
<div class="card">
  <h3 class="card-header text-center font-weight-bold text-uppercase py-4">alumnos</h3>
  <div class="card-body">
    <div id="table" name="table[]" class="table-editable" >
      <span class="table-add float-right mb-3 mr-2"><a href="#!" class="text-success"><i class="fas fa-plus fa-2x"
            aria-hidden="true"></i></a></span>
      <table class="table table-bordered table-responsive-md table-striped text-center" >
        <tr>
          <th class="text-center">n° alumno</th>
          <th class="text-center">Email</th>
          <th class="text-center">Apellido</th>
          <th class="text-center">Nombre</th>
          <th class="text-center">Direccion</th>
        
        </tr>
  
        <tr>
          <td class="pt-3-half" contenteditable="true"></td>
          <td class="pt-3-half" contenteditable="true"></td>
          <td class="pt-3-half" contenteditable="true"></td>
          <td class="pt-3-half" contenteditable="true"></td>
          <td class="pt-3-half" contenteditable="true"></td>
          <td class="pt-3-half">
            <span class="table-up"><a href="#!" class="indigo-text"><i class="fas fa-long-arrow-alt-up" aria-hidden="true"></i></a></span>
            <span class="table-down"><a href="#!" class="indigo-text"><i class="fas fa-long-arrow-alt-down"
                  aria-hidden="true"></i></a></span>
          </td>
          <td>
            <span class="table-remove"><button type="button" class="btn btn-danger btn-rounded btn-sm my-0">Remove</button></span>
          </td>
        </tr>
    
    
      </table>
    </div>
  </div>
</div>
 -->

<button type="submit" class="btn btn-primary">Agregar</button>
    </form>
  </div>
  {% include 'footer.html.twig' %}
  </body>

<script type="text/javascript">
  
  $(document).ready(function() {
    $('.js-example-basic-multiple').select2();
});


var $TABLE = $('#table');
var $BTN = $('#export-btn');
var $EXPORT = $('#export');

$('.table-add').click(function () {
var $clone = $TABLE.find('tr.hide').clone(true).removeClass('hide table-line');
$TABLE.find('table').append($clone);
});

$('.table-remove').click(function () {
$(this).parents('tr').detach();
});

$('.table-up').click(function () {
var $row = $(this).parents('tr');
if ($row.index() === 1) return; // Don't go above the header
$row.prev().before($row.get(0));
});

$('.table-down').click(function () {
var $row = $(this).parents('tr');
$row.next().after($row.get(0));
});

// A few jQuery helpers for exporting only
jQuery.fn.pop = [].pop;
jQuery.fn.shift = [].shift;

$BTN.click(function () {
var $rows = $TABLE.find('tr:not(:hidden)');
var headers = [];
var data = [];

// Get the headers (add special header logic here)
$($rows.shift()).find('th:not(:empty)').each(function () {
headers.push($(this).text().toLowerCase());
});

// Turn all existing rows into a loopable array
$rows.each(function () {
var $td = $(this).find('td');
var h = {};

// Use the headers from earlier to name our hash keys
headers.forEach(function (header, i) {
h[header] = $td.eq(i).text();
});

data.push(h);
});

// Output the result
$EXPORT.text(JSON.stringify(data));
});

</script>

</html>

